<style type="text/css">
	body{
		background-color: #FFCC99;
		color: white;
	}

	h2{
		color: #FFFF66;
		text-align:center;
		margin: 50px;
		font-size:70px
	}

	p{
		text-align:center;
	}

	div{
		text-align:center;
	}
</style>

<h2>
	映画検索
</h2>
<p>
	<%= @msg %>
</p>

<!--映画名の入力欄である。-->
<div>
	<%= form_tag("/search/title_search",method: :get) do %>
	<%= text_field_tag(:title) %>
	<%= submit_tag("Click") %>
	<% end %>
</div>

<!--検索で条件に合うタイトルを表示する。-->
<% @movies.each do | movie | %>
    <p><%= link_to movie.title,product_path(movie.title) %></p>
<% end %>